<h3 class="text-center">TOP DEALS ON FOOTWEARS</h3>
<div class="container">   
  <div class="top-fashion-deals">
    <div class="single-product">
      <a class="img-responsive" href=""
        ><img src="assets/Images/product-10.jpg" />
        <div class="cont">
          <h4>Plain T-shirt - Blue</h4>
          <p>&#8377;499</p>
        </div></a
      >
    </div>
    <div class="single-product">
      <a class="img-responsive" href=""
        ><img src="assets/Images/product-11.jpg" />
        <div class="cont">
          <h4>Plain T-shirt - Blue</h4>
          <p>&#8377;499</p>
        </div></a
      >
    </div>
    <div class="single-product">
      <a class="img-responsive" href=""
        ><img src="assets/Images/product-2.jpg" />
        <div class="cont">
          <h4>Plain T-shirt - Blue</h4>
          <p>&#8377;499</p>
        </div></a
      >
    </div>
    <div class="single-product">
      <a class="img-responsive" href=""
        ><img src="assets/Images/product-5.jpg" />
        <div class="cont">
          <h4>Plain T-shirt - Blue</h4>
          <p>&#8377;499</p>
        </div></a
      >
    </div>
  </div>
</div>

