
    <div class="container">
        <div class="brand-dir">
          <h3>Top Stories: Brand Directory</h3>
          <h6>{{clthng1}}</h6>
            <ul>
              <li *ngFor="let clthng of clothingg">
                &nbsp; <a href="">{{clthng}}</a>&nbsp; {{brndsepbar}}
              </li>
            </ul>
          <h6>{{clthng2}}</h6>
          <ul>
            <li *ngFor="let accres of bdaccessors">
              &nbsp;<a href="">{{accres}}</a>&nbsp; {{brndsepbar}}
            </li>
          </ul>
          <h6>{{clthng3}}</h6>
          <ul>
            <li *ngFor="let bdbrnd of bdbrands">
              &nbsp;<a href="">{{bdbrnd}}</a>&nbsp; {{brndsepbar}}
            </li>
          </ul>
        </div>
      </div>
  
  
  
  
  
  