<h3 class="text-center">TODAY'S DEAL</h3>

<div class="container">  
  <div class="top-fashion-deals">
    <div class="single-product">
      <a class="img-responsive" href=""
        ><img src="assets/Images/product-7.jpg" />
        <div class="cont">
          <h4>Plain T-shirt - Blue</h4>
          <p>&#8377;499</p>
        </div></a
      >
    </div>
    <div class="single-product">
      <a class="img-responsive" href=""
        ><img src="assets/Images/product-8.jpg" />
        <div class="cont">
          <h4>Plain T-shirt - Blue</h4>
          <p>&#8377;499</p>
        </div></a
      >
    </div>
    <div class="single-product">
      <a class="img-responsive" href=""
        ><img src="assets/Images/product-3.jpg" />
        <div class="cont">
          <h4>Plain T-shirt - Blue</h4>
          <p>&#8377;499</p>
        </div></a
      >
    </div>
    
    <div class="single-product">
      <a class="img-responsive" href=""
        ><img src="assets/Images/product-4.jpg" />
        <div class="cont">
          <h4>Plain T-shirt - Blue</h4>
          <p>&#8377;499</p>
        </div></a
      >
    </div>
  </div>
</div>




