<h3 class="text-center">TOP DEALS ON FASHION</h3>
    <div class="container">  
      <div class="top-fashion-deals">
        <div class="single-product">
          <a class="img-responsive" href=""
            ><img
              src="assets/Images/New folder/Mens-Standard-Fit-Short-Sleeve-V-Neck-T-Shirt01-1-600x764.jpg"
            />
            <div class="cont">
              <h4>Plain T-shirt - Blue</h4>
              <p>&#8377;499</p>
              <!-- <ul>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star-half"></i></li>
        </ul> -->
            </div></a
          >
        </div>
        <div class="single-product">
          <a class="img-responsive" href=""
            ><img
              src="assets/Images/New folder/Mens-Standard-Fit-Sherpa-Fleece-Jacket01-600x764.jpg"
            />
            <div class="cont">
              <h4>Plain T-shirt - Blue</h4>
              <p>&#8377;499</p>
            </div></a
          >
        </div>
        <div class="single-product">
          <a class="img-responsive" href=""
            ><img
              src="assets/Images/New folder/Mens-Standard-Fit-Short-Sleeve-Crew-T-Shirt01-1-600x764.jpg"
            />
            <div class="cont">
              <h4>Plain T-shirt - Blue</h4>
              <p>&#8377;499</p>
            </div></a
          >
        </div>
        <div class="single-product">
          <a class="img-responsive" href=""
            ><img
              src="assets/Images/New folder/Mens-Standard-Fit-Sweater-Fleece-Jacket01-600x764.jpg"
            />
            <div class="cont">
              <h4>Plain T-shirt - Blue</h4>
              <p>&#8377;499</p>
            </div></a
          >
        </div>
        <!-- <div class="nxt-button"><a href="#" class="next round"><i class="fa fa-chevron-right" style="font-size:25px;"></i></a></div> -->
      </div>
    </div>
