<div class="product-des container-fluid">
 
<div class="pro-des-3">
    <h3 class="headbold">{{productname}}</h3>
    <p> <span class="price">&#8377;{{productprice}}</span> &ensp;<del class="text-muted">&#8377;{{orgprice}}</del></p>
    <p style="color: green;">{{extraoff}}</p>

    <p>You save:&#8377;{{priceusave}}</p>
    <p class="text-muted">Inclusive of all taxes</p>
    <p>FREE Delivery: {{dvlrydate}}</p>

    <div class="btn-group">
        <h4>Size</h4>
        <button type="button" class="btn btn-default bgrp">S</button>
        <button type="button" class="btn btn-default bgrp">M</button>
        <button type="button" class="btn btn-default bgrp">L</button>
        <button type="button" class="btn btn-default bgrp">XL</button>
        <button type="button" class="btn btn-default bgrp">XXL</button>
      </div>
      <br><br>
      <i class="fa fa-map-marker-alt"></i>
      <input class="inpincode" type="text" placeholder="Enter the pincode">
      <input class="spincode" type="button" value="Change">
      <br><br>
    <ul>
      <li>
        {{prodctlist1}}
      </li>
      <li>{{prodctlist2}}</li>
      <li>
        {{prodctlist3}}
      </li>
      <br>
      <li>
        {{prodctlist4}}
      </li>
      <li>
        {{prodctlist5}}
      </li>
      <li>
        {{prodctlist6}}
      </li>
    </ul>

    <h3>Product description</h3>
    <p>
      {{prodescrptn}}
    </p>

    <h3></h3>
<ul class="prodlist">
      <li><span class="text-muted">Package Dimensions:</span>&ensp; {{deslst1}}</li>
      <li><span class="text-muted">Date First Available:</span>&ensp;{{deslst2}}</li>
      <li><span class="text-muted">Manufacturer:</span>&ensp;{{deslst3}}</li>
      <li><span class="text-muted">Item part number:</span>&ensp;{{deslst4}}</li>
      <li><span class="text-muted">Country of Origin:</span>&ensp;{{deslst5}}</li>
      <li><span class="text-muted">Manufacturer:</span>&ensp;{{deslst6}}</li>
      <li><span class="text-muted">Item Weight:</span>&ensp;{{deslst7}}</li>
      <li><span class="text-muted">Best Sellers Rank:</span>&ensp;{{deslst8}}</li>
    </ul>
    <h3>Review this product</h3>
    <p>Share your thoughts with other customers</p>
    <input  class="inreview" type="text" name="" />
    <input class="revsubbtn" type="submit" value="SUBMIT" />
    <h4>Recommended based on your shopping trends</h4>
</div>