<div class="product-des container-fluid">
    <div class="pro-des-1">
      <img src="assets/Images/gallery-1.jpg" />
      <img src="assets/Images/gallery-2.jpg" />
      <img src="assets/Images/gallery-3.jpg" />
      <img src="assets/Images/gallery-4.jpg" />
    </div>
    <div class="pro-des-2">
      <img class=".img-responsive" src="assets/Images/product-1.jpg" />

      <a href="checkoutpage.html"><div class="btn btn-default cartbtn">ADD TO CART</div></a>

      <a href="checkoutpage.html"><div class="btn btn-default buynowbtn">BUY NOW</div></a>
    </div>
</div>
