<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- <app-singleprpg></app-singleprpg>  -->
<!-- <app-cart></app-cart>  -->
<!-- <app-filterpage></app-filterpage> -->
 <!-- <app-testcmp></app-testcmp> -->



<!-- If Block -->
<!-- <div *ngIf="myvalue">
    <h2>if working</h2>
</div>
<h2>working other component</h2> -->

<!-- If else Block - Pattern 1 -->
<!-- <div *ngIf="false;else myelseblock">
    <h2>if working</h2>
</div>
<ng-template #myelseblock>
    <h2>else working</h2>
</ng-template>
<h2>working other component</h2> -->


<!-- If else Block - Pattern 2 -->
<!-- <div *ngIf="true;then myifblock; else myelseblock"></div>
<ng-template #myifblock>
    <h2>if working</h2>
</ng-template>
<ng-template #myelseblock>
    <h2>else working</h2>
</ng-template>
<h2>working other component</h2> -->


<!-- Switch Case -->
<!-- <div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'">This is red</h1>
    <h1 *ngSwitchCase="'green'">This is green</h1>
    <h1 *ngSwitchCase="'blue'">This is blue</h1>
    <h1 *ngSwitchDefault>Pick again</h1>
</div> -->

<!-- For -->
<!-- <div >
    <ol>
        <li *ngFor="let myc of mycolors; index as k" class="mylicls">
            <h2>{{k}}-{{myc}}</h2>
            <img src="/assets/img/mybanner-{{k}}.png">
            k++
        </li>
    </ol>
</div> -->